<!doctype html>
<th:html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <style>
            body {
                background-image: url('/images/background.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh;
            }
        </style>
        <title>Login - MonkeyFlip</title>
    </head>
    <body>
    <form id="userForm" action="/logar" method="post">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">Iniciar Sessão</h3>

                                <!-- Campo de Login -->
                                <div class="form-floating mb-4">
                                    <input type="text" name="usuNome" id="typeUsuX-2"
                                           class="form-control form-control-lg"
                                           placeholder=" " required>
                                    <label for="typeUsuX-2">Login do usuário</label>
                                </div>

                                <!-- Campo de Senha -->
                                <div class="form-floating mb-4">
                                    <input type="password" name="usuSenha" id="typePasswordX-2"
                                           class="form-control form-control-lg"
                                           placeholder=" " required>
                                    <label for="typePasswordX-2">Senha</label>
                                </div>

                                <!-- Mensagem de Erro -->
                                <div th:if="${erro != null}" class="alert alert-danger" role="alert"
                                     th:text="${erro}"></div>

                                <!-- Botão de Login -->
                                <button type="submit" class="btn btn-success btn-lg">Login</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</th:html>
