<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sidebars.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sidebars.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"
            integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <title th:text="${isEdit} ? 'Alterar' : 'Cadastrar'"></title>
</head>
<body>
<div class="d-flex">
    <div th:include="~{fragments/home :: left-menu}" class="flex-shrink-0">
    </div>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
        <div class="container">

            <h2 class="mt-5 mb-4">Formulário para realizar venda</h2>

            <form action="#" th:action="@{/vendas/salvar}" method="post" th:object="${venda}"
                  class="form-control pt-2  w-75">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"/>

                    <label class="form-label" for="vendData">Data da realização da venda</label>
                    <input type="date" class="form-control w-50" id="vendData" th:field="*{data}"/>
                    <div th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger"></div>


                    <label for="planoPag">Plano de Pagamento</label>
                    <select class="form-select show-tick w-75" th:field="*{planoPagamento}" id="planoPag">
                        <option value="">Nada Selecionado</option>
                        <option th:each="plano : ${planoPagamentos}"
                                th:value="${plano}"
                                th:text="${plano.descricao}">
                        </option>
                    </select>

                    <label for="tipoPag">Tipo de Pagamento</label>
                    <select class="form-select show-tick w-75" th:field="*{tipoPagamento}" id="tipoPag">
                        <option value="">Nada Selecionado</option>
                        <option th:each="tipo : ${tipoPagamentos}"
                                th:value="${tipo}"
                                th:text="${tipo.descricao}">
                        </option>
                    </select>


                    <button class="btn btn-success mt-3" type="submit"
                            th:text="${isEdit} ? 'Atualizar' : 'Salvar'"></button>
                    <a th:href="@{/vendas}" class="btn btn-danger mt-3">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<script>
    $(document).ready(function () {
        $('#monkPreco').inputmask({
            alias: 'numeric',
            groupSeparator: '.',
            radixPoint: ',',
            digits: 2,
            autoGroup: true,
            prefix: 'R$ ',
            rightAlign: false,
            digitsOptional: false,  // Obriga o uso de 2 casas decimais
            placeholder: '0',       // Preenche automaticamente com zeros após a vírgula
            removeMaskOnSubmit: true
        });
    });
</script>-->


</body>
</html>