<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sidebars.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sidebars.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"
            integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"
            integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        html, body {
            height: 100%; /* Garante que o body preencha 100% da altura da viewport */
            margin: 0; /* Remove margens padrão */
        }

        .bg-dark {
            height: auto;
            min-height: 100vh; /* Garante que o menu ocupe pelo menos 100% da altura da viewport */
            overflow-y: auto; /* Permite que o menu role se o conteúdo exceder a altura */
        }

        .main-content {
            flex-grow: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
        }
    </style>

    <title th:text="${isEdit} ? 'Alterar' : 'Cadastrar'"></title>
</head>
<body>
<div class="d-flex">
    <div th:include="~{fragments/home :: left-menu}" class="flex-shrink-0 bg-dark">
    </div>

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
        <div class="container">
            <h2 class="mt-5 mb-4">Formulário para realizar venda</h2>

            <form action="#" th:action="@{/vendas/salvar}" method="post" th:object="${venda}"
                  class="form-control pt-2 pb-4 w-75">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"/>

                    <label class="form-label" for="vendData">Data da realização da venda</label>
                    <input type="date" class="form-control w-25" id="vendData" th:field="*{data}"
                           th:value="${#temporals.format(venda.data, 'yyyy-MM-dd')}"/>
                    <div th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger"></div>
                    <div th:if="${macacoDataErro != null}" class="text-danger" th:text="${macacoDataErro}"></div>
                    <br/>

                    <label class="form-label mt-3" for="prod_search">Selecione o macaco</label>
                    <input type="text" class="form-control w-50" id="prod_search" name="prodName"
                           oninput="clearHiddenField();">
                    <div id="error-message" class="text-danger mt-2" style="display: none;"></div>
                    <input id="prod_id" type="hidden" name="prodId" th:field="*{macacoId}">
                    <div th:if="${macacoIdErro != null}" class="text-danger" th:text="${macacoIdErro}"></div>

                    <br/>

                    <label class="form-label mt-3" for="prod_preco">Preço do Macaco</label>
                    <input type="text" class="form-control w-50" id="prod_preco" name="prodPreco" >
                    <input type="hidden" th:field="*{precoMacaco}" id="precoMacaco"/>

                    <br/>

                    <label for="planoPag">Plano de Pagamento</label>
                    <select class="form-select show-tick w-50" th:field="*{planoPagamento}" id="planoPag">
                        <option value="">Nada Selecionado</option>
                        <option th:each="plano : ${planoPagamentos}"
                                th:value="${plano}"
                                th:text="${plano.descricao}"></option>
                    </select>
                    <div th:if="${planoPagamentosErro != null}" class="text-danger"
                         th:text="${planoPagamentosErro}"></div>
                    <br/>

                    <label for="tipoPag">Tipo de Pagamento</label>
                    <select class="form-select show-tick w-50" th:field="*{tipoPagamento}" id="tipoPag">
                        <option value="">Nada Selecionado</option>
                    </select>
                    <div th:if="${tipoPagamentosErro != null}" class="text-danger"
                         th:text="${tipoPagamentosErro}"></div>

                    <br/>

                    <div id="parcelasContainer" style="display: none;">
                        <label for="numParcelas">Número de Parcelas</label>

                        <div class="input-group w-25">
                            <input type="number" class="form-control" id="numParcelas" th:field="*{quantParcelas}"
                                   min="1"/>
                            <button id="gerarButton" class="btn btn-primary" type="button" onclick="gerarParcelas()">
                                Gerar
                            </button>
                            <div id="error-message-parcelas" class="text-danger mt-2" style="display: none;"></div>
                        </div>
                        <br/>
                        <table id="resultTable" class="table w-50">
                            <thead class="table-light sticky-top table-dark">
                            <tr>
                                <th>Parcela</th>
                                <th>Valor</th>
                                <th>Data de Vencimento</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div th:if="${parcelaErro != null}" class="text-danger" th:text="${parcelaErro}"></div>

                    <button class="btn btn-success mt-3" type="submit"
                            th:text="${isEdit} ? 'Atualizar' : 'Salvar'"></button>
                    <a th:href="@{/vendas}" class="btn btn-danger mt-3">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    /*$(document).ready(function () {
        $('#monkPreco').inputmask({
            alias: 'numeric',
            groupSeparator: '.',
            radixPoint: ',',
            digits: 2,
            autoGroup: true,
            prefix: 'R$ ',
            rightAlign: false,
            digitsOptional: false,  // Obriga o uso de 2 casas decimais
            placeholder: '0',       // Preenche automaticamente com zeros após a vírgula
            removeMaskOnSubmit: true
        });
    });*/

    document.getElementById("prod_preco").addEventListener("input", function() {
        var preco = document.getElementById("prod_preco").value;

        // Remover símbolo de moeda "R$" e outros caracteres não numéricos
        preco = preco.replace(/[^\d,.-]/g, '').replace(",", "."); // Remove tudo que não é número, ponto ou vírgula

        document.getElementById("precoMacaco").value = preco;
    });

    function gerarParcelas() {
        const numParcelas = document.getElementById("numParcelas").value;
        const precoMacaco = document.getElementById("prod_preco").value.replace(/[^0-9,.-]/g, '').replace(/\./g, '').replace(',', '.');
        const dataVenda = document.getElementById("vendData").value;
        const macacoId = document.getElementById("prod_id").value;

        const errorMessage = document.getElementById("error-message-parcelas");
        if (!numParcelas || numParcelas <= 0) {
            errorMessage.textContent = "Insira um número de parcelas maior que zero (0)";
            errorMessage.style.display = "block";
            return;
        } else {
            errorMessage.style.display = "none";
        }

        const formData = new FormData();
        formData.append("quantParcelas", numParcelas);
        formData.append("precoMacaco", precoMacaco); // Adiciona o preço do macaco sem o ponto de milhar
        formData.append("data", dataVenda);
        formData.append("macacoId", macacoId);

        fetch('/vendas/calcularParcelas', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao gerar parcelas');
                }
                return response.json();
            })
            .then(data => {
                console.log('Dados recebidos:', data);
                const tableBody = document.querySelector("#resultTable tbody");
                tableBody.innerHTML = ""; // Limpa as linhas anteriores

                data.forEach(parcela => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                    <td>${parcela.numparcela}</td>
                    <td>${parseFloat(parcela.valorParcela).toLocaleString('pt-BR', {
                        style: 'currency',
                        currency: 'BRL'
                    })}</td>
                    <td>${new Date(parcela.dataVencimento).toLocaleDateString('pt-BR')}</td>
                `;
                    tableBody.appendChild(row);
                });

                // Exibe o container de parcelas se estiver oculto
                document.getElementById("parcelasContainer").style.display = "block";
            })
            .catch(error => console.error('Erro ao gerar parcelas:', error));
    }


    document.getElementById("planoPag").addEventListener("change", function () {
        var planoPagamento = this.value;

        // Envia uma requisição POST para filtrar os tipos de pagamento
        fetch('/vendas/filtrarTipos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(planoPagamento)
        })
            .then(response => response.json())
            .then(data => {
                const tipoPag = document.getElementById("tipoPag");
                tipoPag.innerHTML = '<option value="">Nada Selecionado</option>';

                data.forEach(tipo => {
                    const option = document.createElement("option");
                    option.value = tipo.value;
                    option.text = tipo.descricao;
                    tipoPag.add(option);
                });
            })
            .catch(error => console.error('Erro:', error));
    });


    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("tipoPag").addEventListener("change", function () {
            var tipoPagamento = this.value;

            if (tipoPagamento === 'CARTAO_CREDITO') {
                document.getElementById("parcelasContainer").style.display = "block";
            } else {
                document.getElementById("parcelasContainer").style.display = "none";
            }
        });

    });


    $(function () {
        $("#prod_search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "buscarProd",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                if (ui.item.estoque <= 0) {
                    // Exibe mensagem de erro se o estoque for zero
                    $("#error-message").text("esse macaco já foi embora, nenhum se encontra no viveiro").show();
                    $("#prod_search").val(''); // Limpa o campo de busca
                    $("#prod_id").val(''); // Limpa o campo oculto do ID
                    $("#prod_preco").val(''); // Limpa o campo de preço
                    $("#precoMacaco").val(''); // Limpa o campo de preço oculto
                } else {
                    // Preenche os campos com os dados do produto
                    $("#prod_search").val(ui.item.label);
                    $("#prod_id").val(ui.item.id);
                    $("#prod_preco").val(ui.item.preco.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}));
                    $("#precoMacaco").val(ui.item.preco);
                    $("#error-message").hide(); // Oculta a mensagem de erro
                }
                return false;
            }
        });
    });


    function clearHiddenField() {
        var searchField = document.getElementById('prod_search');
        var hiddenField = document.getElementById('prod_id');

        // Limpa o campo oculto se o campo de texto estiver vazio
        if (searchField.value.trim() === '') {
            hiddenField.value = '';
        }
    }

</script>


</body>
</html>